p,
h4 {
    margin: 3px
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.login-container {
    width: 500px;
    height: 250px;
    background: #32526F;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    user-select: none;

    .login-form {
        display: flex;
        color: white;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        input {
            width: 250px;
            height: 30px;
            border-radius: 10px;
            border: 0;

            padding-left: 10px;
            margin-bottom: 20px;
            outline: none;
        }

        .app-button {
            width: 200px;
            height: 40px;
            background: #1A2D3E;
            margin-bottom: 15px;

            p {
                width: fit-content;
                height: fit-content;
                margin: -10px auto;
            }

            &:hover {
                border-radius: 0px;
            }
        }
    }
}

.app-button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

.side-container {
    width: 400px;
    height: 92.5vh;
    overflow-y: auto;
    user-select: none;

    .user-info-container {
        width: 100%;
        height: 65px;
        background: #1A2D3E;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.9);

        p {
            margin: 0;
        }

        .avatar {
            width: 40px;
            border-radius: 40px;
            margin: 0 5px 0 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .search-container {
        width: 100%;
        height: 45px;
        background: #1A2D3E;
        text-align: center;
        margin: auto;
        margin-top: 10px;

        input {
            width: 70%;
            height: 30px;
            border-radius: 10px;
            margin-top: 6.5px;
            color: white;
            border: 0;
            background-color: #03030363;
            outline: none;
            padding-left: 10px;
        }
    }

    .active-chat-user {
        background: #3b4e64;
    }

    .chat-users {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        color: white;
        background: #1A2D3E;
        position: relative;
        cursor: pointer;

        .chat-info {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-around;

            .user-name-online {
                color: white;
            }

            .user-name {
                color: gray;
            }

            .avatar {
                position: relative;
                width: 40px;
                border-radius: 40px;
                margin-right: 10px;
                margin-left: 15px;

                .online-circle {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 10px;
                    height: 10px;
                    border-radius: 20px;
                    background: #af1111;
                }

                .online-user {
                    background: #13c21c;
                }
            }
        }

        .chat-user-date {
            position: absolute;
            right: 15px;
            top: 5px;
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
}

.chat-container {
    width: 1000px;
    height: 90vh;
    margin-left: 10px;
    position: relative;
    user-select: none;

    .bg-img {
        position: absolute;
        width: 100%;
        height: 95%;

        img {
            width: 100%;
            height: 100%;
            border-bottom: 3px solid #03030363;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }

    .message-container {
        color: white;
        width: 100%;
        margin-bottom: 20px;
        height: 85%;

        .messages {
            z-index: 1;
            position: relative;
            overflow-y: auto;
            overflow-x: none;
            height: 100%;
        }

        .message {
            margin: 0 25px 0 25px;
            padding: 5px;
            width: fit-content;
            max-width: 300px;
            min-height: 30px;
            height: fit-content;
            border-radius: 5px;
            word-break: break-all;
            margin-top: 8px;
            user-select: all;

            .date {
                font-size: 0.75rem;
                text-align: end;
                color: rgb(187, 187, 187);
                user-select: none;
            }
        }

        .sender {
            margin-left: auto;
            background: rgb(35, 91, 170);
        }

        .reciver {

            h4 {
                user-select: none;
            }

            background: #506178;
        }
    }

    .chat-info-messages {
        display: flex;
        color: white;
        height: 65px;
        background: #1A2D3E;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        button {
            margin-right: 15px;
            width: 40px;
            height: 40px;
            padding: 10px;
        }
    }

    .name-container {
        text-align: center;
        word-break: break-all;
        margin: 0 5px 0 5px;

        p {
            color: rgba(255, 255, 255, 0.842);
            font-weight: bold;
            font-size: 1.2rem;
        }
    }

    .avatar {
        width: 40px;
        border-radius: 40px;
        margin-left: 15px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.form-messages {
    align-content: center;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 90%;
    position: relative;
    margin: auto;
    bottom: 10px;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
        padding-left: 10px;
        padding-right: 50px;
        width: 85%;
        height: 40px;
        border: 0;
        border-radius: 10px;
        outline: none;
        margin-right: 15px;
        color: white;
        background-color: #03030363;
    }

    button {
        margin-left: -70px;
        outline: none;

        &:hover {
            transform: scale(1.1);
            background: none;
        }
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0);
        color: #f63c3cf6;
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(3px, 0, 0);
        transform: translate3d(3px, 0, 0);
        color: #f63c3cf6;
    }
}

@keyframes shake {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0);
        color: #f63c3cf6;
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(3px, 0, 0);
        transform: translate3d(3px, 0, 0);
        color: #f63c3cf6;
    }
}

button {
    width: 50px;
    font-size: 1.3rem;
    border: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
    transition: all .2s;
    text-align: center;
    cursor: pointer;
    padding: 15px 15px;
}

button:hover {
    width: 50px;
    border-radius: 50px;
    background: rgba(223, 223, 223, 0.541);
}

.hidden {
    display: none;
}

.avatar-selection {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .avatar-select {
        width: 50px;
        height: 50px;
        border-radius: 50px;

        img {
            position: relative;
            width: 100%;
            transition: all .2s;
        }

        img:hover {
            transform: scale(1.2);
        }
    }

    .selected-avatar {

        img {
            transform: scale(1.2);
        }
    }
}

.avatar {
    img {
        width: 100%;
    }
}

.not-selected {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 820px) {
    .login-container {
        width: 90%;

        h1 {
            font-size: 1.4rem;
        }

        .login-form {
            input {
                width: 90%;
            }

            .app-button {
                width: 200px;
                height: 25px;

                p {
                    font-size: .8rem;
                }
            }
        }
    }

    .side-container {
        display: none;
        width: 0px;
        background: #1A2D3E;
        transition: width, display .3s ease-in-out;
    }

    .chat-info-messages {
        position: fixed;
        width: 100%;
    }

    .user {

        .avatar {
            width: 60px;
        }

    }

    .expended {
        position: absolute;
        left: 0;
        display: block;
        height: 100%;
        width: 81%;
        z-index: 1;
    }

    .home {
        margin-top: 0;
    }

    .name-container {
        word-break: break-all;
        width: 100%;
        font-size: .7rem;

        p {
            width: 100%;
        }
    }

    .mobile-menu {
        display: block;
        margin: 15px;
        font-size: 1.5rem;
    }

    .opened {
        left: 85%;
    }

    .chat-container {
        width: 100%;
        margin-left: 0px;
        height: 100vh;

        .bg-img {
            display: none;
        }

        .message-container {
            overflow-x: none;
            color: #fff;
            height: 90%;

            .messages {
                position: unset;
            }
        }

        .form-messages {
            position: fixed;
            bottom: 10px;

            input {
                width: 100%;
                margin-left: 10px;
            }

            button {
                margin-right: -60px;
            }
        }
    }
}