p,
h4 {
  margin: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login-container {
  width: 500px;
  height: 250px;
  background: #32526F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  user-select: none;
}
.login-container .login-form {
  display: flex;
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.login-container .login-form input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  padding-left: 10px;
  margin-bottom: 20px;
  outline: none;
}
.login-container .login-form .app-button {
  width: 200px;
  height: 40px;
  background: #1A2D3E;
  margin-bottom: 15px;
}
.login-container .login-form .app-button p {
  width: fit-content;
  height: fit-content;
  margin: -10px auto;
}
.login-container .login-form .app-button:hover {
  border-radius: 0px;
}

.app-button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 0;
}

.side-container {
  width: 400px;
  height: 92.5vh;
  overflow-y: auto;
  user-select: none;
}
.side-container .user-info-container {
  width: 100%;
  height: 65px;
  background: #1A2D3E;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}
.side-container .user-info-container p {
  margin: 0;
}
.side-container .user-info-container .avatar {
  width: 40px;
  border-radius: 40px;
  margin: 0 5px 0 15px;
}
.side-container .user-info-container .avatar img {
  width: 100%;
  height: 100%;
}
.side-container .search-container {
  width: 100%;
  height: 45px;
  background: #1A2D3E;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.side-container .search-container input {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  margin-top: 6.5px;
  color: white;
  border: 0;
  background-color: rgba(3, 3, 3, 0.3882352941);
  outline: none;
  padding-left: 10px;
}
.side-container .active-chat-user {
  background: #3b4e64;
}
.side-container .chat-users {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  color: white;
  background: #1A2D3E;
  position: relative;
  cursor: pointer;
}
.side-container .chat-users .chat-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.side-container .chat-users .chat-info .user-name-online {
  color: white;
}
.side-container .chat-users .chat-info .user-name {
  color: gray;
}
.side-container .chat-users .chat-info .avatar {
  position: relative;
  width: 40px;
  border-radius: 40px;
  margin-right: 10px;
  margin-left: 15px;
}
.side-container .chat-users .chat-info .avatar .online-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background: #af1111;
}
.side-container .chat-users .chat-info .avatar .online-user {
  background: #13c21c;
}
.side-container .chat-users .chat-user-date {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 0.9rem;
  font-weight: 300;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
}

.chat-container {
  width: 1000px;
  height: 90vh;
  margin-left: 10px;
  position: relative;
  user-select: none;
}
.chat-container .bg-img {
  position: absolute;
  width: 100%;
  height: 95%;
}
.chat-container .bg-img img {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgba(3, 3, 3, 0.3882352941);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.chat-container .message-container {
  color: white;
  width: 100%;
  margin-bottom: 20px;
  height: 85%;
}
.chat-container .message-container .messages {
  z-index: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: none;
  height: 100%;
}
.chat-container .message-container .message {
  margin: 0 25px 0 25px;
  padding: 5px;
  width: fit-content;
  max-width: 300px;
  min-height: 30px;
  height: fit-content;
  border-radius: 5px;
  word-break: break-all;
  margin-top: 8px;
  user-select: all;
}
.chat-container .message-container .message .date {
  font-size: 0.75rem;
  text-align: end;
  color: rgb(187, 187, 187);
  user-select: none;
}
.chat-container .message-container .sender {
  margin-left: auto;
  background: rgb(35, 91, 170);
}
.chat-container .message-container .reciver {
  background: #506178;
}
.chat-container .message-container .reciver h4 {
  user-select: none;
}
.chat-container .chat-info-messages {
  display: flex;
  color: white;
  height: 65px;
  background: #1A2D3E;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.chat-container .chat-info-messages button {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.chat-container .name-container {
  text-align: center;
  word-break: break-all;
  margin: 0 5px 0 5px;
}
.chat-container .name-container p {
  color: rgba(255, 255, 255, 0.842);
  font-weight: bold;
  font-size: 1.2rem;
}
.chat-container .avatar {
  width: 40px;
  border-radius: 40px;
  margin-left: 15px;
}
.chat-container .avatar img {
  width: 100%;
  height: 100%;
}

.form-messages {
  align-content: center;
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 90%;
  position: relative;
  margin: auto;
  bottom: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.form-messages input {
  padding-left: 10px;
  padding-right: 50px;
  width: 85%;
  height: 40px;
  border: 0;
  border-radius: 10px;
  outline: none;
  margin-right: 15px;
  color: white;
  background-color: rgba(3, 3, 3, 0.3882352941);
}
.form-messages button {
  margin-left: -70px;
  outline: none;
}
.form-messages button:hover {
  transform: scale(1.1);
  background: none;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0);
    color: rgba(246, 60, 60, 0.9647058824);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
    color: rgba(246, 60, 60, 0.9647058824);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-3px, 0, 0);
    transform: translate3d(-3px, 0, 0);
    color: rgba(246, 60, 60, 0.9647058824);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
    color: rgba(246, 60, 60, 0.9647058824);
  }
}
button {
  width: 50px;
  font-size: 1.3rem;
  border: 0;
  color: white;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s;
  text-align: center;
  cursor: pointer;
  padding: 15px 15px;
}

button:hover {
  width: 50px;
  border-radius: 50px;
  background: rgba(223, 223, 223, 0.541);
}

.hidden {
  display: none;
}

.avatar-selection {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.avatar-selection .avatar-select {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.avatar-selection .avatar-select img {
  position: relative;
  width: 100%;
  transition: all 0.2s;
}
.avatar-selection .avatar-select img:hover {
  transform: scale(1.2);
}
.avatar-selection .selected-avatar img {
  transform: scale(1.2);
}

.avatar img {
  width: 100%;
}

.not-selected {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 820px) {
  .login-container {
    width: 90%;
  }
  .login-container h1 {
    font-size: 1.4rem;
  }
  .login-container .login-form input {
    width: 90%;
  }
  .login-container .login-form .app-button {
    width: 200px;
    height: 25px;
  }
  .login-container .login-form .app-button p {
    font-size: 0.8rem;
  }
  .side-container {
    display: none;
    width: 0px;
    background: #1A2D3E;
    transition: width, display 0.3s ease-in-out;
  }
  .chat-info-messages {
    position: fixed;
    width: 100%;
  }
  .user .avatar {
    width: 60px;
  }
  .expended {
    position: absolute;
    left: 0;
    display: block;
    height: 100%;
    width: 81%;
    z-index: 1;
  }
  .home {
    margin-top: 0;
  }
  .name-container {
    word-break: break-all;
    width: 100%;
    font-size: 0.7rem;
  }
  .name-container p {
    width: 100%;
  }
  .mobile-menu {
    display: block;
    margin: 15px;
    font-size: 1.5rem;
  }
  .opened {
    left: 85%;
  }
  .chat-container {
    width: 100%;
    margin-left: 0px;
    height: 100vh;
  }
  .chat-container .bg-img {
    display: none;
  }
  .chat-container .message-container {
    overflow-x: none;
    color: #fff;
    height: 90%;
  }
  .chat-container .message-container .messages {
    position: unset;
  }
  .chat-container .form-messages {
    position: fixed;
    bottom: 10px;
  }
  .chat-container .form-messages input {
    width: 100%;
    margin-left: 10px;
  }
  .chat-container .form-messages button {
    margin-right: -60px;
  }
}

/*# sourceMappingURL=app.css.map */
